:root {
    --font-family-main: "Manrope", sans-serif;
    --font-family-text-redesigned: 'Nunito Sans', sans-serif;
    --font-family-header-redesigned: 'Roboto', sans-serif;

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    
    --font-size-l: 24px;
    --font-line-l: 36px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Розміри
    --navbar-height: 50px;
    --modal-width: 400px;

    --sidebar-width: 200px;
    --sidebar-width-collapsed: 50px;

    --drag-and-drop-height: 600px;

    // z-Індекси
    --modal-z-index: 10;

    // Транзішіон
    --transition: background-color 0.3s ease-in-out;

    // Кольори
    --overlay-modal: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;

    // redesigned
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

    --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-text-redesigned);

    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-header-redesigned);

}
