.title {
    font: var(--font-l);
    color: var(--text-redesigned);
}

.text {
    font: var(--font-m);
    color: var(--text-redesigned);
}

.textInverted {
    font: var(--font-m);
    color: var(--primary-color);
}

.error {
    .title {
        color: var(--red-dark);
    }

    .text {
        color: var(--red-dark);
    }

    .textInverted {
        color: var(--red-dark);
    }
}

.left {
    text-align: left;
}


.right {
    text-align: right;
}


.center {
    text-align: center;
}