.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: var(--modal-width);
}

.loginBtn {
    min-width: 165px;
    margin-left: auto;
    border-radius: 48px;
    color: var(--text-redesigned);
    background-color: var(--icon-redesigned);
    transition: var(--transition);

    &:hover {
        background-color: var(--accent-redesigned);
    }
}