.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: var(--modal-width);
}

.loginBtn {
    margin-left: auto;
    border-radius: 6px;
    color: var(---primary-color)
}