.Sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.btnSidebar {
    position: absolute;
    left: var(--sidebar-width);
    top: 50%
}

.btnSidebarCol {
    position: absolute;
    left: var(--sidebar-width-collapsed);
    top: 50%
}

// .btnFill {
//     fill: red
// }