.Sidebar {
    position: relative;
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--light-bg-redesigned);
    border-radius: 32px;
    padding-top: 20px;
}

.items {
    position: relative;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    z-index: 1;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.collapsedBtn {
    position: absolute;
    border: none;
    left: calc(var(--sidebar-width) - var(--font-size-l));
    top: 50%;
    background-color: var(--bg-redesigned);
    z-index: 2;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .collapsedBtn {
        position: absolute;
        left: calc(var(--sidebar-width-collapsed) - var(--font-size-l));
        top: 50%

    }

    .items {
        position: relative;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
    }
}

.appLogo {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.icon {
    margin-top: 10px;
    transition: fill 0.3s, stroke 0.3s;

    &:hover {
        fill: var(--accent-redesigned);
        stroke: var(--accent-redesigned);
    }
}