.ListBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    div button {
        min-width: 300px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 48px;
        border: 2px solid var(--icon-redesigned);
        font: var(--font-m-redesigned);
    }
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    width: 100%;
    background-color: var(--bg-color);
    position: absolute;
    z-index: var(--modal-z-index);
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--inverted-bg-color);
}

.item {
    padding: 10px 20px;
    border-radius: 12px;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}

.btnSend {
    min-width: 200px;
    padding: 6px 15px;
    border-radius: 10px;
    border-color: var(--inverted-primary-color);
    transition: var(--transition);
    box-shadow: 2px 2px 5px #18181869;
    font: var(--font-l)
}

.btnSend:hover {
    background-color: var(--inverted-primary-color);
}

.optionsTop {
    bottom: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}