.app_dark_theme {
    --bg-color: #1b2b34;
    --inverted-bg-color: #f3f3f3;

    --primary-color: #f3f3f3;
    --secondary-color: #161f37;

    --inverted-primary-color: #1a50bd;
    --inverted-secondary-color: #f3f3f3;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;
}
