.app.dark {
    --bg-color: #0A0A11;
    --inverted-bg-color: #f3f3f3;

    --primary-color: #f3f3f3;
    --secondary-color: #161f37;

    --inverted-primary-color: #1a50bd;
    --inverted-secondary-color: #f3f3f3;
}
