.app_light_theme {
    --bg-color: #f3f3f3;
    --inverted-bg-color: #0A0A11;

    --primary-color: #161f37;
    --secondary-color: #f3f3f3;

    --inverted-primary-color: #5a80ce;
    --inverted-secondary-color: #161f37;
}
