.app.light {
    --bg-color: #f3f3f3;
    --inverted-bg-color: #161f37;

    --primary-color: #161f37;
    --secondary-color: #f3f3f3;

    --inverted-primary-color: #f3f3f3;
    --inverted-secondary-color: #161f37;
}
