.MainLayout {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
            'sidebar content rightbar';
    grid-template-columns: min-content 1fr min-content;
}


.sidebar {
    grid-area: sidebar;
    padding: 32px;
    max-width: 284px;
}

.content {
    grid-area: content;
    max-width: 1600px;
    justify-self: center;
    padding: 32px;
    width: 100%;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px 32px;
    max-width: 284px;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    height: 100%;
}
