.navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--inverted-bg-color);
}

.links {
    display: flex;
    gap: 15px;
    margin-left: auto;
}