.btnText {
    color: #FDFDFD;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    transition: color 0.3s;
}

.btnText:hover,
.btnText:focus {
    color: #808080;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.disabled {
    display: none;
}