.EditableProfileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 48px;
}

.containerInput {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 24px;
    width: 100%;
}

.blockInput {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}